<ion-view view-title="Categorias">

<ion-header-bar align-title="left" class="azul "id="cabecera">
	<a id="volver_home" href="#/app/home/{{ usuario }}"><h1 id="title"> Look Up </h1></a>
	<h2 class="title" id="title2">{{ usuario }}</h2>
	<button  ng-click="signOut()" class="buttons button button-large" id="sig_out_but" ><i  class="button button-icon icon ion-log-out"  id="sign_out_icon" ></i></button>
</ion-header-bar>
 <ion-item nav-clear  id="subcabecera" class="bar bar-subheader azulin"  href="#/app/home/ {{ usuario }}">
 	<h2 id="subtitle"> &#xf108; Categories </h2>
 </ion-item>

  <ion-content  id="pantalla_home" data-ng-controller="CategoryCtrl">
  	<div class="list card" id="listados">
		<a id="listado_cat" ng-repeat="category in categories" href="#/app/category/{{category.id}}" class="item item-icon-left" >
			<i class="icon ion-images"></i>
			<center><h2>{{ category.name }}</h2></center>
			<h3>Tematica : {{ category.description }}</h3>
		</a>
	</div><br><br>
  </ion-content>

<!-- Boton Flotante -->
<div id="boton_flotante" ng-controller="ButFloatCtrl">
	<a nav-clear class="button button-large button-clear button button-positive"  ng-click="openPopover($event)"><i class="button-icon ion-social-vimeo"></i></a>
</div>

<script id="botones_list.html" type="text/ng-template">
<ion-popover-view id="popover">

<a id="lista_popover" class="button button-large button-clear button-icon icon ion-android-storage" href="#/app/categories" ng-click="closePopover()">  Categories </a>
<a id="lista_popover" class="button button-large button-clear button-icon icon ion-images" href="#/app/category/all" ng-click="closePopover()">  All Items </a>
<a id="lista_popover"  class="button button-large button-clear button-icon ion-plus-round" href="#/app/new-Item/{{ usuario }}" ng-click="closePopover()"> Add Item </a>

</ion-popover-view>
</script>

</ion-view>
