<ion-view view-title="Items">

<ion-header-bar align-title="left" class="azul "id="cabecera">
	<a id="volver_home" href="#/app/home/{{ usuario }}"><h1 id="title"> Look Up </h1></a>
	<h2 class="title" id="title2">{{ usuario }}</h2>
	<button  ng-click="signOut()" class="buttons button button-large" id="sig_out_but" ><i  class="button button-icon icon ion-log-out"  id="sign_out_icon" ></i></button>
</ion-header-bar>
<ion-item nav-clear  id="subcabecera" class="bar bar-subheader azulin"  href="#/app/categories">
 	<h2 id="subtitle">  &#xf108; Items </h2>
 </ion-item>

  <ion-content  id="pantalla_home" ng-controller="ItemsCtrl">
	<div class="list card" id="listados" >
		<div class="item" ng-repeat="item in Items">
			<table>
				<tr>
				    	<td id="items_data">
						<center><h2>{{ item.name }}</h2></center>
						<h4 id="descrip_items"> Descripcion:  {{ item.description }}</h4>
					</td>
				    	<td style="vertical-align: middle;">
				    		<a class="button button-large button-clear" href="#/app/imagen/{{item.id}}/{{ item.category_id }}">
				    		<i class="button-icon ion-eye"></i>
				    		</a>
				    	</td>
				</tr>
			</table>
		</div><br><br><br><br><br>
	</div>
  </ion-content>

<!-- Boton Flotante -->
<div id="boton_flotante" ng-controller="ButFloatCtrl">
	<a nav-clear class="button button-large button-clear button button-positive"  ng-click="openPopover($event)"><i class="button-icon ion-social-vimeo"></i></a>
</div>

<script id="botones_list.html" type="text/ng-template">
<ion-popover-view id="popover">

<a id="lista_popover" class="button button-large button-clear button-icon icon ion-android-storage" href="#/app/categories" ng-click="closePopover()">  Categories </a>
<a id="lista_popover" class="button button-large button-clear button-icon icon ion-images" href="#/app/category/all" ng-click="closePopover()">  All Items </a>
<a id="lista_popover"  class="button button-large button-clear button-icon ion-plus-round" href="#/app/new-Item/{{ usuario }}" ng-click="closePopover()"> Add Item </a>

</ion-popover-view>
</script>

</ion-view>
