
      <ion-view view-title="Sign-In" >
  <body>
        <ion-content id="pantalla_login">
          <div class="list" id="caja_login">
            <label class="item item-input" id="inputs_login">
              <span id="span_inputs" class="input-label">Username :      &nbsp;&nbsp;</span>
              <h2><input  id="input_login" type="text" ng-model="user.name" required /></h2>
            </label>
            <label class="item item-input" id="inputs_login">
              <span id="span_inputs" class="input-label">Password :      &nbsp;&nbsp;</span>
              <input  id="input_login" type="password"  ng-model="user.password" required />
            </label>
          <center><a id="boton_login" class="button button-large button-clear"  ng-click="signIn(user)"><i class="button-icon ion-log-in"></i></a></center>
          </div>
        </ion-content>
  </body>
</ion-view>